<h1 class="display4">This is the Layout view</h1>


<!--<div class="_16-9">
    <img src="http://placehold.it/300x300">
</div>-->


<ul class="material-list grid-list xsg1 sg2 mg3 lg4">
    <li class="cell">
        <div class="_4-3"><img src="http://placehold.it/300x300" alt=""></div>
    </li>
    <li class="cell">
        <div class="_4-3"><img src="http://placehold.it/300x300" alt=""></div>
    </li>
    <li class="cell">
        <div class="_4-3"><img src="http://placehold.it/300x300" alt=""></div>
    </li>
    <li class="cell">
        <div class="_4-3"><img src="http://placehold.it/300x300" alt=""></div>
    </li>
    <li class="cell">
        <div class="_4-3"><img src="http://placehold.it/300x300" alt=""></div>
    </li>
    <li class="cell">
        <div class="_4-3"><img src="http://placehold.it/300x300" alt=""></div>
    </li>
    <li class="cell">
        <div class="_4-3"><img src="http://placehold.it/300x300" alt=""></div>
    </li>
    <li class="cell">
        <div class="_4-3"><img src="http://placehold.it/300x300" alt=""></div>
    </li>
    <li class="cell">
        <div class="_4-3"><img src="http://placehold.it/300x300" alt=""></div>
    </li>
    <li class="cell">
        <div class="_4-3"><img src="http://placehold.it/300x300" alt=""></div>
    </li>
    <li class="cell">
        <div class="_4-3"><img src="http://placehold.it/300x300" alt=""></div>
    </li>
    <li class="cell">
        <div class="_4-3"><img src="http://placehold.it/300x300" alt=""></div>
    </li>
</ul>