<header role="banner" class="site-header">
        <div id="app-bar-wrapper" class="paper resting">
            <div id="app-bar-extension">
                <h1 class="app-view-title">Google Design</h1>
            </div>
            <div id="app-bar-main" class="paper">
                <div class="app-navigation">
                    <div class="nav-toggle">
                        <i class="material-icons">menu</i>
                    </div>
                    <nav role="navigation">
                        <ul class="nav-list">
                            <li class="tab" data-title="Style" data-rel="views/styles.html">Style</li>
                            <li class="tab" data-title="Layout" data-rel="views/layout.html">Layout</li>
                            <li class="tab active" data-title="Components" data-rel="views/components.html">Components</li>
                            <li class="tab" data-title="Resources" data-rel="views/resources.html">Resources</li>
                            <li class="tab" data-title="About Us" data-rel="views/about.html">About Us</li>
                            <div class="indicator"></div>
                        </ul>
                    </nav>
                </div>
                <span class="app-title">Google Design</span>
                <div class="app-actions">
                    <div class="app-supplemental-actions">
                        <i class="material-icons">search</i>
                        <i class="material-icons">favorite</i>
                    </div>
                    <div class="app-menu">
                        <i class="material-icons">more_vert</i>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="vcenter-test"></div>-->
    </header>

    <div class="fab colored theme-switch">
        <i class="material-icons">view_carousel</i>
    </div>
    <div class="fab colored extend-appbar">
        <i class="material-icons">aspect_ratio</i>
    </div>
    <div class="fab colored extend-special">
        <i class="material-icons">stars</i>
    </div>
    <div class="fab colored color-appbar">
        <i class="material-icons">format_paint</i>
    </div>

    <main id="content-area">
        <section class="bottom-sheet" id="view"></section>
    </main>

    <footer role="footer" id="bottom-bar" class="paper resting"></footer>